<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <h3 class="text-center">Instructions</h3>
                <mat-card style="margin-top:31px;">
                    <mat-card-content>
                        <ul>
                            <li>Do not refresh the page otherwise you will get new questions in this quiz.</li>
                            <li>Do not switch the tabs.</li>
                            <li>Do not minimize the window.</li>
                        </ul>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="col-md-8">

                <ng-container *ngIf="questions">

                    <h1 style="margin-top:10px;">Ongoing Quiz <b><i>{{questions[0].quiz.title}}</i></b></h1>

                    <mat-card *ngFor="let q of questions; let i=index" style="margin-bottom:10px;">

                        <mat-card-content>
                            <p><b>Q {{i+1}}: </b><span [innerHTML]="q.content"></span></p>
                            <mat-divider></mat-divider>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-md-6">
                                    <input [(ngModel)]="q.givenAnswer" type="radio" [value]="q.option1"
                                        [name]="i">{{q.option1}}
                                </div>
                                <div class="col-md-6">
                                    <input [(ngModel)]="q.givenAnswer" type="radio" [value]="q.option2"
                                        [name]="i">{{q.option2}}
                                </div>
                            </div>
                            <div class="row" style="margin-top:8px;">
                                <div class="col-md-6">
                                    <input [(ngModel)]="q.givenAnswer" type="radio" [value]="q.option3"
                                        [name]="i">{{q.option3}}
                                </div>
                                <div class="col-md-6">
                                    <input [(ngModel)]="q.givenAnswer" type="radio" [value]="q.option4"
                                        [name]="i">{{q.option4}}
                                </div>
                            </div>

                        </mat-card-content>

                    </mat-card>

                    <div class="container text-center" style="margin-bottom:16px;">
                        <button mat-raised-button color="warn" (click)="submitQuiz()">Submit Quiz</button>
                    </div>

                </ng-container>

            </div>
            <div class="col-md-2">

                <mat-card style="margin-top:57px;">
                    <mat-card-header>
                        <mat-card-title>
                            Progress
                        </mat-card-title>
                        <mat-card-subtitle>
                            Quiz will autometically submitted when timmer reaches to 0:0
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-spinner color="warn" mode="determinate" [value]="(timmer/(questions.length*2*60))*100"
                            style="margin:auto;"></mat-spinner>
                        <h1 class="text-center">{{getFormattedTime()}}</h1>
                    </mat-card-content>
                </mat-card>

            </div>
        </div>
    </div>
</div>

<div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Quiz Result
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <h1>Obtained Marks : {{marksGot}}</h1>
                    <h1>Correct Answers : {{correctAnswers}}</h1>
                    <h1>Questions Attempted : {{attempted}}</h1>
                </mat-card-content>
                <mat-card-actions class="text-center">
                    <button mat-raised-button color="warn" (click)="printPage()">Print</button>
                    <button mat-raised-button color="primary" routerLink="/user-dashboard/0">Home</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>