<mat-card *ngIf="user">
    <h2>Your Profile Details</h2>
    <mat-card-content>
        <div class="bootstrap-wrapper">

            <div class="container text-center">

                <div class="container">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/2048px-Default_pfp.svg.png" alt="" class="profile-image">
                    <h1 style="font-weight:bold;">{{user.firstName}} {{user.lastName}}</h1>
                </div>

                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Username</td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td>EXAMP{{user.id}}</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{user.enabled?"ACTIVE":"FALSE"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </mat-card-content>

    <mat-card-actions class="text-center">
        <button mat-raised-button color="accent">UPDATE</button>
        <button mat-raised-button color="primary">SHARE</button>
      </mat-card-actions>
    
</mat-card>